<h1><%=@review.title%></h1><br>
<h2><%="By: #{@review.user.username}"%></h2><br>
<p><%=@review.content%></p><br>

<%  if @review.user_id == session[:user_id] %> 
<p><a href="/reviews/<%= @review.id %>/edit">Edit Review</a></p>
<form action="/reviews/<%=@review.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Review">
  </form><br>
<% end %> 
<p><a href="/rides">Back to Rides</a></p>