
<h1><%=@ride.name%></h1>

<h2><%="Location: #{@ride.location}"%></h2>
<h3><%="Description: #{@ride.description}"%></h2>


<p><a href="/reviews/<%= @ride.slug %>/new">Add Review</a></p>
<p><a href="/reviews/<%= @ride.id %>">See Reviews</a></p>


